@layer base {
	/* Light Theme */
	:root {
		--primary: #65558f;
		--surface-tint: #6750a4;
		--on-primary: #ffffff;
		--primary-container: #eaddff;
		--on-primary-container: #4f378b;
		--secondary: #625b71;
		--on-secondary: #ffffff;
		--secondary-container: #e8def8;
		--on-secondary-container: #4a4458;
		--tertiary: #7d5260;
		--on-tertiary: #ffffff;
		--tertiary-container: #ffd8e4;
		--on-tertiary-container: #633b48;
		--error: #b3261e;
		--on-error: #ffffff;
		--error-container: #f9dedc;
		--on-error-container: #8c1d18;
		--background: #fef7ff;
		--on-background: #1d1b20;
		--surface: #fef7ff;
		--on-surface: #1d1b20;
		--surface-variant: #e7e0ec;
		--on-surface-variant: #49454f;
		--outline: #79747e;
		--outline-variant: #cac4d0;
		--shadow: #000000;
		--scrim: #000000;
		--inverse-surface: #322f35;
		--inverse-on-surface: #f5eff7;
		--inverse-primary: #d0bcff;
		--primary-fixed: #eaddff;
		--on-primary-fixed: #21005d;
		--primary-fixed-dim: #d0bcff;
		--on-primary-fixed-variant: #4f378b;
		--secondary-fixed: #e8def8;
		--on-secondary-fixed: #1d192b;
		--secondary-fixed-dim: #ccc2dc;
		--on-secondary-fixed-variant: #4a4458;
		--tertiary-fixed: #ffd8e4;
		--on-tertiary-fixed: #31111d;
		--tertiary-fixed-dim: #efb8c8;
		--on-tertiary-fixed-variant: #633b48;
		--surface-dim: #ded8e1;
		--surface-bright: #fef7ff;
		--surface-container-lowest: #ffffff;
		--surface-container-low: #f7f2fa;
		--surface-container: #f3edf7;
		--surface-container-high: #ece6f0;
		--surface-container-highest: #e6e0e9;
		/* ring */
		--ring: var(--primary);
		--radius: 0.84rem;
	}

	/* Dark Theme */
	.dark {
		--primary: #d0bcfe;
		--surface-tint: #d0bcff;
		--on-primary: #381e72;
		--primary-container: #4f378b;
		--on-primary-container: #eaddff;
		--secondary: #ccc2dc;
		--on-secondary: #332d41;
		--secondary-container: #4a4458;
		--on-secondary-container: #e8def8;
		--tertiary: #efb8c8;
		--on-tertiary: #492532;
		--tertiary-container: #633b48;
		--on-tertiary-container: #ffd8e4;
		--error: #f2b8b5;
		--on-error: #601410;
		--error-container: #8c1d18;
		--on-error-container: #f9dedc;
		--background: #141218;
		--on-background: #e6e0e9;
		--surface: #141218;
		--on-surface: #e6e0e9;
		--surface-variant: #49454f;
		--on-surface-variant: #cac4d0;
		--outline: #938f99;
		--outline-variant: #49454f;
		--shadow: #000000;
		--scrim: #000000;
		--inverse-surface: #e6e0e9;
		--inverse-on-surface: #322f35;
		--inverse-primary: #6750a4;
		--primary-fixed: #eaddff;
		--on-primary-fixed: #21005d;
		--primary-fixed-dim: #d0bcff;
		--on-primary-fixed-variant: #4f378b;
		--secondary-fixed: #e8def8;
		--on-secondary-fixed: #1d192b;
		--secondary-fixed-dim: #ccc2dc;
		--on-secondary-fixed-variant: #4a4458;
		--tertiary-fixed: #ffd8e4;
		--on-tertiary-fixed: #31111d;
		--tertiary-fixed-dim: #efb8c8;
		--on-tertiary-fixed-variant: #633b48;
		--surface-dim: #141218;
		--surface-bright: #3b383e;
		--surface-container-lowest: #0f0d13;
		--surface-container-low: #1d1b20;
		--surface-container: #211f26;
		--surface-container-high: #2b2930;
		--surface-container-highest: #36343b;
	}
}
