@layer base {
	/* Light Theme */
	:root {

		--success: oklch(0.7269 0.1576 154.9);
		--on-success: oklch(0.98 0.02 154.9);

		--error: oklch(0.6532 0.1576 22.93)
		--on-error: oklch(0.3912 0.1576 22.93);
		/* ☀️ Light Theme Variables (Standard Contrast) */
		--radius: 0.84rem;
		--primary: oklch(0.489 0.122 281.04);
		--surface-tint: oklch(0.489 0.122 281.04);
		--on-primary: oklch(1 0 0);
		--primary-container: oklch(0.915 0.049 281.04);
		--on-primary-container: oklch(0.404 0.093 281.04);
		--secondary: oklch(0.537 0.038 286.74);
		--on-secondary: oklch(1 0 0);
		--secondary-container: oklch(0.915 0.04 286.04);
		--on-secondary-container: oklch(0.41 0.024 286.74);
		--tertiary: oklch(0.537 0.088 355.76);
		--on-tertiary: oklch(1 0 0);
		--tertiary-container: oklch(0.906 0.081 352.5);
		--on-tertiary-container: oklch(0.413 0.072 355.76);
		--error: oklch(0.499 0.198 17.51);
		--on-error: oklch(1 0 0);
		--error-container: oklch(0.89 0.103 17.51);
		--on-error-container: oklch(0.323 0.141 15.34);
		--background: oklch(0.983 0.006 312.78);
		--on-background: oklch(0.244 0.01 290.13);
		--surface: oklch(0.983 0.006 312.78);
		--on-surface: oklch(0.244 0.01 290.13);
		--surface-variant: oklch(0.925 0.012 290.13);
		--on-surface-variant: oklch(0.417 0.012 290.13);
		--outline: oklch(0.665 0.012 290.13);
		--outline-variant: oklch(0.835 0.01 286.04);
		--shadow: oklch(0 0 0);
		--scrim: oklch(0 0 0);
		--inverse-surface: oklch(0.327 0.01 290.13);
		--inverse-on-surface: oklch(0.963 0.008 290.13);
		--inverse-primary: oklch(0.836 0.106 281.04);
		--primary-fixed: oklch(0.915 0.049 281.04);
		--on-primary-fixed: oklch(0.259 0.079 281.04);
		--primary-fixed-dim: oklch(0.836 0.106 281.04);
		--on-primary-fixed-variant: oklch(0.404 0.093 281.04);
		--secondary-fixed: oklch(0.915 0.04 286.04);
		--on-secondary-fixed: oklch(0.279 0.024 286.74);
		--secondary-fixed-dim: oklch(0.835 0.038 286.74);
		--on-secondary-fixed-variant: oklch(0.41 0.024 286.74);
		--tertiary-fixed: oklch(0.906 0.081 352.5);
		--on-tertiary-fixed: oklch(0.25 0.054 355.76);
		--tertiary-fixed-dim: oklch(0.841 0.098 354.29);
		--on-tertiary-fixed-variant: oklch(0.413 0.072 355.76);
		--surface-dim: oklch(0.902 0.01 290.13);
		--surface-bright: oklch(0.983 0.006 312.78);
		--surface-container-lowest: oklch(1 0 0);
		--surface-container-low: oklch(0.969 0.008 290.13);
		--surface-container: oklch(0.9325 0.0148 312.24);
		--surface-container-high: oklch(0.938 0.01 290.13);
		--surface-container-highest: oklch(0.925 0.01 290.13);

		/* ring */
		--ring: var(--primary);
	}

	/* Dark Theme */
	.dark {
		/* 🌙 Dark Theme Variables (Standard Contrast) */
		--primary: oklch(0.836 0.106 281.04);
		--surface-tint: oklch(0.836 0.106 281.04);
		--on-primary: oklch(0.323 0.079 281.04);
		--primary-container: oklch(0.404 0.093 281.04);
		--on-primary-container: oklch(0.915 0.049 281.04);
		--secondary: oklch(0.835 0.038 286.74);
		--on-secondary: oklch(0.339 0.024 286.74);
		--secondary-container: oklch(0.41 0.024 286.74);
		--on-secondary-container: oklch(0.915 0.04 286.04);
		--tertiary: oklch(0.841 0.098 354.29);
		--on-tertiary: oklch(0.428 0.065 355.76);
		--tertiary-container: oklch(0.413 0.072 355.76);
		--on-tertiary-container: oklch(0.906 0.081 352.5);
		--error: oklch(0.819 0.093 17.51);
		--on-error: oklch(0.407 0.16 16.79);
		--error-container: oklch(0.323 0.141 15.34);
		--on-error-container: oklch(0.89 0.103 17.51);
		--background: oklch(0.211 0.012 286.74);
		--on-background: oklch(0.925 0.01 290.13);
		--surface: oklch(0.211 0.012 286.74);
		--on-surface: oklch(0.925 0.01 290.13);
		--surface-variant: oklch(0.417 0.012 290.13);
		--on-surface-variant: oklch(0.835 0.01 286.04);
		--outline: oklch(0.771 0.012 290.13);
		--outline-variant: oklch(0.417 0.012 290.13);
		--shadow: oklch(0 0 0);
		--scrim: oklch(0 0 0);
		--inverse-surface: oklch(0.925 0.01 290.13);
		--inverse-on-surface: oklch(0.327 0.01 290.13);
		--inverse-primary: oklch(0.489 0.122 281.04);
		--primary-fixed: oklch(0.915 0.049 281.04);
		--on-primary-fixed: oklch(0.259 0.079 281.04);
		--primary-fixed-dim: oklch(0.836 0.106 281.04);
		--on-primary-fixed-variant: oklch(0.404 0.093 281.04);
		--secondary-fixed: oklch(0.915 0.04 286.04);
		--on-secondary-fixed: oklch(0.279 0.024 286.74);
		--secondary-fixed-dim: oklch(0.835 0.038 286.74);
		--on-secondary-fixed-variant: oklch(0.41 0.024 286.74);
		--tertiary-fixed: oklch(0.906 0.081 352.5);
		--on-tertiary-fixed: oklch(0.25 0.054 355.76);
		--tertiary-fixed-dim: oklch(0.841 0.098 354.29);
		--on-tertiary-fixed-variant: oklch(0.413 0.072 355.76);
		--surface-dim: oklch(0.211 0.012 286.74);
		--surface-bright: oklch(0.366 0.01 290.13);
		--surface-container-lowest: oklch(0.198 0.01 286.74);
		--surface-container-low: oklch(0.244 0.01 290.13);
		--surface-container: oklch(0.264 0.01 290.13);
		--surface-container-high: oklch(0.313 0.01 290.13);
		--surface-container-highest: oklch(0.354 0.01 290.13);
	}

	/* Medium Contrast Overrides */
	:root[data-contrast="medium"] {
		--primary: oklch(0.404 0.093 281.04);
		--primary-container: oklch(0.618 0.094 281.04);
		--secondary: oklch(0.457 0.024 286.74);
		--secondary-container: oklch(0.665 0.038 286.74);
		--tertiary: oklch(0.456 0.072 355.76);
		--tertiary-container: oklch(0.636 0.088 355.76);
		--error: oklch(0.33 0.198 17.51);
		--error-container: oklch(0.551 0.207 17.51);
		--on-surface: oklch(0.231 0.01 290.13);
		--on-surface-variant: oklch(0.356 0.012 290.13);
		--outline: oklch(0.51 0.012 290.13);
		--outline-variant: oklch(0.601 0.012 290.13);
		--inverse-primary: oklch(0.836 0.106 281.04);
		--surface-dim: oklch(0.847 0.01 290.13);
		--surface-container-high: oklch(0.902 0.01 290.13);
		--surface-container-highest: oklch(0.884 0.01 290.13);
	}

	.dark[data-contrast="medium"] {
		--primary: oklch(0.886 0.097 281.04);
		--on-primary: oklch(0.291 0.079 281.04);
		--primary-container: oklch(0.741 0.094 281.04);
		--on-primary-container: oklch(0 0 0);
		--secondary: oklch(0.886 0.034 286.04);
		--on-secondary: oklch(0.312 0.024 286.74);
		--secondary-container: oklch(0.771 0.038 286.74);
		--on-secondary-container: oklch(0 0 0);
		--tertiary: oklch(0.89 0.088 352.5);
		--on-tertiary: oklch(0.399 0.065 355.76);
		--tertiary-container: oklch(0.783 0.088 355.76);
		--on-tertiary-container: oklch(0 0 0);
		--error: oklch(0.871 0.083 17.51);
		--on-error: oklch(0.245 0.116 15.34);
		--error-container: oklch(0.708 0.241 23.3);
		--on-error-container: oklch(0 0 0);
		--on-surface: oklch(1 0 0);
		--on-surface-variant: oklch(0.89 0.01 290.13);
		--outline: oklch(0.824 0.012 290.13);
		--outline-variant: oklch(0.771 0.012 290.13);
		--inverse-primary: oklch(0.428 0.093 281.04);
		--surface-bright: oklch(0.472 0.01 290.13);
		--surface-container-low: oklch(0.264 0.01 290.13);
		--surface-container: oklch(0.327 0.01 290.13);
		--surface-container-high: oklch(0.366 0.01 290.13);
		--surface-container-highest: oklch(0.417 0.01 290.13);
	}

	/* ☀️ High Contrast Overrides */
	:root[data-contrast="high"] {
		--primary: oklch(0.334 0.089 281.04);
		--primary-container: oklch(0.468 0.093 281.04);
		--secondary: oklch(0.356 0.024 286.74);
		--secondary-container: oklch(0.457 0.024 286.74);
		--tertiary: oklch(0.391 0.072 355.76);
		--tertiary-container: oklch(0.51 0.088 355.76);
		--error: oklch(0.245 0.116 15.34);
		--error-container: oklch(0.378 0.198 17.51);
		--on-surface: oklch(0 0 0);
		--on-surface-variant: oklch(0 0 0);
		--outline: oklch(0.339 0.012 290.13);
		--outline-variant: oklch(0.457 0.012 290.13);
		--inverse-primary: oklch(0.836 0.106 281.04);
		--surface-dim: oklch(0.82 0.01 290.13);
		--surface-container-high: oklch(0.884 0.01 290.13);
		--surface-container-highest: oklch(0.847 0.01 290.13);
	}

	.dark[data-contrast="high"] {
		--primary: oklch(0.963 0.097 281.04);
		--on-primary: oklch(0 0 0);
		--primary-container: oklch(0.886 0.097 281.04);
		--on-primary-container: oklch(0.187 0.062 281.04);
		--secondary: oklch(0.963 0.034 286.04);
		--on-secondary: oklch(0 0 0);
		--secondary-container: oklch(0.886 0.034 286.04);
		--on-secondary-container: oklch(0.219 0.024 286.74);
		--tertiary: oklch(0.964 0.081 352.5);
		--on-tertiary: oklch(0 0 0);
		--tertiary-container: oklch(0.89 0.088 352.5);
		--on-tertiary-container: oklch(0.245 0.046 355.76);
		--error: oklch(0.95 0.074 17.51);
		--on-error: oklch(0 0 0);
		--error-container: oklch(0.871 0.083 17.51);
		--on-error-container: oklch(0.138 0.085 15.34);
		--on-surface: oklch(1 0 0);
		--on-surface-variant: oklch(1 0 0);
		--outline: oklch(0.963 0.01 290.13);
		--outline-variant: oklch(0.878 0.012 290.13);
		--inverse-primary: oklch(0.428 0.093 281.04);
		--surface-bright: oklch(0.531 0.01 290.13);
		--surface-container-low: oklch(0.264 0.01 290.13);
		--surface-container: oklch(0.327 0.01 290.13);
		--surface-container-high: oklch(0.417 0.01 290.13);
		--surface-container-highest: oklch(0.472 0.01 290.13);
	}
}
