:root {
	--md-slider-label-text-font: var(--font-sans, sans-serif);
	--md-slider-label-text-weight: 600;
	--md-slider-active-track-color: var(--color-primary);
	--md-slider-inactive-track-color: var(--color-surface-container-highest);
	--md-slider-handle-shape: 4px;
	--md-slider-handle-color: var(--color-primary);
	--md-slider-active-track-shape: 2px;
	--md-slider-inactive-track-shape: 2px;
	--md-slider-container-color: var(--color-primary);

	/* Swith */
	--md-switch-handle-shape: 4px;
	--md-switch-track-shape: 8px;
}
