/* :root {
	--md-linear-progress-track-height: 6px;

	--md-linear-progress-active-indicator-height: 6px;
	--md-sys-color-primary: var(--color-primary);
	--md-linear-progress-track-shape: 6px;
	--md-sys-color-surface-container-highest: var(
		--color-surface-container-highest
	);
} */
