@theme {
	/* Display */
	--ts-d-lg-ff: "Roboto", sans-serif;
	--ts-d-lg-fw: 400;
	--ts-d-lg-fs: 57px;
	--ts-d-lg-ls: -0.25px;

	--ts-d-md-ff: "Roboto", sans-serif;
	--ts-d-md-fw: 400;
	--ts-d-md-fs: 45px;
	--ts-d-md-ls: 0;

	--ts-d-sm-ff: "Roboto", sans-serif;
	--ts-d-sm-fw: 400;
	--ts-d-sm-fs: 36px;
	--ts-d-sm-ls: 0;

	/* Headline */
	--ts-h-lg-ff: "Roboto", sans-serif;
	--ts-h-lg-fw: 400;
	--ts-h-lg-fs: 32px;
	--ts-h-lg-ls: 0;

	--ts-h-md-ff: "Roboto", sans-serif;
	--ts-h-md-fw: 400;
	--ts-h-md-fs: 28px;
	--ts-h-md-ls: 0;

	--ts-h-sm-ff: "Roboto", sans-serif;
	--ts-h-sm-fw: 400;
	--ts-h-sm-fs: 24px;
	--ts-h-sm-ls: 0;

	/* Body */
	--ts-b-lg-ff: "Roboto", sans-serif;
	--ts-b-lg-fw: 400;
	--ts-b-lg-fs: 16px;
	--ts-b-lg-ls: 0.5px;

	--ts-b-md-ff: "Roboto", sans-serif;
	--ts-b-md-fw: 400;
	--ts-b-md-fs: 14px;
	--ts-b-md-ls: 0.25px;

	--ts-b-sm-ff: "Roboto", sans-serif;
	--ts-b-sm-fw: 400;
	--ts-b-sm-fs: 12px;
	--ts-b-sm-ls: 0.4px;

	/* Label */
	--ts-l-lg-ff: "Roboto", sans-serif;
	--ts-l-lg-fw: 500;
	--ts-l-lg-fs: 14px;
	--ts-l-lg-ls: 0.1px;

	--ts-l-md-ff: "Roboto", sans-serif;
	--ts-l-md-fw: 500;
	--ts-l-md-fs: 12px;
	--ts-l-md-ls: 0.5px;

	--ts-l-sm-ff: "Roboto", sans-serif;
	--ts-l-sm-fw: 500;
	--ts-l-sm-fs: 11px;
	--ts-l-sm-ls: 0.5px;

	/* Title */
	--ts-t-lg-ff: "Roboto", sans-serif;
	--ts-t-lg-fw: 400;
	--ts-t-lg-fs: 22px;
	--ts-t-lg-ls: 0;

	--ts-t-md-ff: "Roboto", sans-serif;
	--ts-t-md-fw: 500;
	--ts-t-md-fs: 16px;
	--ts-t-md-ls: 0.15px;

	--ts-t-sm-ff: "Roboto", sans-serif;
	--ts-t-sm-fw: 500;
	--ts-t-sm-fs: 14px;
	--ts-t-sm-ls: 0.1px;
}

/* Display */
.display-lg {
	font-family: var(--ts-d-lg-ff);
	font-weight: var(--ts-d-lg-fw);
	font-size: var(--ts-d-lg-fs);
	letter-spacing: var(--ts-d-lg-ls);
}
.display-md {
	font-family: var(--ts-d-md-ff);
	font-weight: var(--ts-d-md-fw);
	font-size: var(--ts-d-md-fs);
	letter-spacing: var(--ts-d-md-ls);
}
.display-sm {
	font-family: var(--ts-d-sm-ff);
	font-weight: var(--ts-d-sm-fw);
	font-size: var(--ts-d-sm-fs);
	letter-spacing: var(--ts-d-sm-ls);
}

/* Headline */
.headline-lg {
	font-family: var(--ts-h-lg-ff);
	font-weight: var(--ts-h-lg-fw);
	font-size: var(--ts-h-lg-fs);
	letter-spacing: var(--ts-h-lg-ls);
}
.headline-md {
	font-family: var(--ts-h-md-ff);
	font-weight: var(--ts-h-md-fw);
	font-size: var(--ts-h-md-fs);
	letter-spacing: var(--ts-h-md-ls);
}
.headline-sm {
	font-family: var(--ts-h-sm-ff);
	font-weight: var(--ts-h-sm-fw);
	font-size: var(--ts-h-sm-fs);
	letter-spacing: var(--ts-h-sm-ls);
}

/* Body */
.body-lg {
	font-family: var(--ts-b-lg-ff);
	font-weight: var(--ts-b-lg-fw);
	font-size: var(--ts-b-lg-fs);
	letter-spacing: var(--ts-b-lg-ls);
}
.body-md {
	font-family: var(--ts-b-md-ff);
	font-weight: var(--ts-b-md-fw);
	font-size: var(--ts-b-md-fs);
	letter-spacing: var(--ts-b-md-ls);
}
.body-sm {
	font-family: var(--ts-b-sm-ff);
	font-weight: var(--ts-b-sm-fw);
	font-size: var(--ts-b-sm-fs);
	letter-spacing: var(--ts-b-sm-ls);
}

/* Label */
.label-lg {
	font-family: var(--ts-l-lg-ff);
	font-weight: var(--ts-l-lg-fw);
	font-size: var(--ts-l-lg-fs);
	letter-spacing: var(--ts-l-lg-ls);
}
.label-md {
	font-family: var(--ts-l-md-ff);
	font-weight: var(--ts-l-md-fw);
	font-size: var(--ts-l-md-fs);
	letter-spacing: var(--ts-l-md-ls);
}
.label-sm {
	font-family: var(--ts-l-sm-ff);
	font-weight: var(--ts-l-sm-fw);
	font-size: var(--ts-l-sm-fs);
	letter-spacing: var(--ts-l-sm-ls);
}

/* Title */
.title-lg {
	font-family: var(--ts-t-lg-ff);
	font-weight: var(--ts-t-lg-fw);
	font-size: var(--ts-t-lg-fs);
	letter-spacing: var(--ts-t-lg-ls);
}
.title-md {
	font-family: var(--ts-t-md-ff);
	font-weight: var(--ts-t-md-fw);
	font-size: var(--ts-t-md-fs);
	letter-spacing: var(--ts-t-md-ls);
}
.title-sm {
	font-family: var(--ts-t-sm-ff);
	font-weight: var(--ts-t-sm-fw);
	font-size: var(--ts-t-sm-fs);
	letter-spacing: var(--ts-t-sm-ls);
}
